
.pl{
    font-size: 4em;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(8, 20, 27);

    margin: 0em;


}
#backto{
    background-color:rgb(8, 20, 27) ;
    color: white;
    float: right;
    cursor: pointer;
    
}
.dsasheet{
    display: flex;
    flex-direction: column;
   
    margin: 2em;
}