.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}
#ul{
  display: flex;
  
  flex-wrap: wrap;
  
 
  align-items: center;
  

  
  
}
#logo{
  margin-right: 5em;

  display: none;
  height: 3em;
}
#dlogo{
  display: block;
  width: 6em;
  height: 3em;
  border-bottom-right-radius: 1em;
}
.navbar{
  background: url('../public/img/tech4.jpg') no-repeat center center/cover;
  background-size: cover;
  height: 88vh;
  width: 100wh;
  background-size: cover;
  background-blend-mode: darken;

}
.dlogoul{
  display: flex;
  flex-direction: row;

}
.list{
  text-decoration: none;
  list-style: none;
  font-size: .5em;
  margin: 1.2em;
  color: white;

  font-family: "Raleway", sans-serif;

 
}



#h1{
  text-align: center;
  margin-top: 3em;
  color: white;
  text-shadow: #f8114b;

  font-family: 'Roboto Condensed', sans-serif;

  font-size: 3em;

  background: transparent;
  
  letter-spacing: .1em;
  word-spacing: .3em;

  

}
#start{
  border-radius: 3em;
  border: 0em ;
  background: transparent;
  background-color: #c41f1f;
  color: white;
  margin-top: 2em;
  font-size: 1.5em;
  padding: .5em;
  
}
pre div{
  font-size: 1.8em;
  color: white;
}

#logo{
  height: 3em;
  width: 6em;
  left: 50%;
  margin-left: 0%;
  margin-top: .5em;
  border-bottom-right-radius: 1em;
}
#th{
  color:black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-left: 9em;

  margin-top: .4em;
  font-family: 'Roboto Mono', monospace;
}
.list a{
  text-decoration: none;
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;

  }

  .list a:hover{
      border-bottom: 2px solid white;
      width: 100%;
  }
.list a:hover{
  color: rgb(0, 255, 200);

}    
#head{
  display: flex;
}
#onimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

#go{
  color:white;
  background-color: black;
  width: 6em;
  height: 3em;
  margin-top: 5em;
}
#cn{
  float: left;
  margin-top: -13em;
  height: 15em;
}
#grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 margin-top: 10em;
 grid-template-columns: repeat(autofit,minmax(300px,1fr));

}
.set{
  width: 12em;
  height: 6em;
  
}
#pep{
  float: right;
  margin-top: -13em;
  height: 15em;
  width: 25em;
}
#hj{
  text-align: center;
  left: 50%;
  font-family: 'Rubik Wet Paint', cursive;
  color: whitesmoke;
  padding: 1em;
  
}

.vertical {
  border-left: 6px solid gray;
  height: 100vh;
  position:absolute;
  left: 50%;
  margin-top: -3em;
}




.dream{

  display:flex;
  flex-wrap: wrap;
 
  background-color: #131d27;
  justify-content: center;
  align-items: center;
  
  
}
#hd{
  color: white;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;

}
#maang{
  width:10em;
  
}

.tags a{
  text-decoration: none;
  color:#c41f1f ;
  font-weight:900;
}


.icon{
  height: 2em;
  width: 2em;
  position: relative;
  left: 40%;
  top:30% ;
 
  transform: rotate(90deg);
}


.create{

display: block;

background-color: #131d27;
background-repeat: no-repeat;
background-size: cover;

}
#hb{
  text-align: center;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 1em;
}

  


.btnbox:hover{
  transform:scale(1.1);
}

.hbb{
  margin-left: 1em;
  margin-right: 2em;
  color: rgb(0, 0, 0);
}  



.btnbox{
  width: 100vh;
 
  border-radius: 1em;
  
 display: flex;
 flex-direction: column;

 justify-content: center;
 align-items: center;

 margin-top: 1em;

  background-color: rgb(82, 94, 86);

}
@media screen and (max-width:592px){
  .btnbox{
      width: 48vh;
      
  }
  
}
.bgrid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.box{

  background-color: #131d27;
  background-size: cover;
  
 
}
#ut{
  padding: 2em;
}
#ut li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;


}
#ut li img{
  width: 2em;
  height: 2em;
  position: sticky;
  transform: rotate(90deg);
}
#ut li a{

  font-size: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  

}
.ipbc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;

  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 50em;
  width: 24em;
  height: 15em;
  margin: 1em;
  padding: .5em;
  
  
}
.ip{
 
  background-color: #131d27;
}
.hip{
  margin-bottom: 1em;
  padding: em;
  text-decoration: underline;
  color:rgb(7, 233, 214);
}
.pip{
  color: white;
  font-family: cursive;
  font-size: 1em;
}
.btnip{
  margin-top: 1em;
  background-color: #f8114b;
  border-radius: 4em;
  font-size: 1em;
  padding: .8em;
  width: 9em;
}
.ipbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hc{
text-align: center;
padding: 1em;
}
.hdc{
  text-align: center;

  color: aliceblue;
  text-decoration: underline;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;
}
.bdc{

display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
align-items: center;
padding: .5em;
color:rgb(216, 135, 15);



}
.bdc h2{
  color: #f8114b;
  margin-bottom: 1em;
}

.bdc div{
  font-size: 1em;
  margin-bottom: 2em;

  width: 25em;

  padding: 2em;

  font-family: 'Titillium Web', sans-serif;
}
@media screen and (max-width:550px){
.bdc div{
  width: auto;
}
.bdc img{
  margin-top: 3em;
}
}
.bdc img{

  position: relative;
  bottom: 1em;
 
}
.dcbox{
  display:flex;
  justify-content: center;
  align-items: center;
}
.creator{
  display: flex;
  flex-direction:column;
align-items: center;
justify-content: center;

height: 25em;

background-repeat: no-repeat;
background-size: cover;
background-color: #131d27;

}
.hc{
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;
  color: white;



}

#photo{
  width: 10em;
  height: 10em;
  border-radius: 5em;
  position: relative;
  bottom: 2em;
}

.cb{
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cb h1{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(34, 233, 207);
}
.cb h2{
  font-family: cursive;
  color: rgb(230, 159, 28);
}
.clogo{
  width: 2em;
  height: 2em;
}
.logo{
  background-color: rgb(214, 32, 71);
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: #131d27;
  height: 15em;

}
.email{
align-items: center;
display: flex;
flex-direction: column;
margin:3em ;

}
.email h2{
  color: white;
}
.email a{
  color: white;
  cursor: pointer;
 
}
#flogo{
  width: 10em;
  height: 4em;
  
}
.fflist{
  margin-right: 5em;
}
.fflist li{
  list-style: none;
}
.fflist li a{
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
}

.fcopy{
  text-align: center;
}
@media screen and (max-width:592px){
  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: #131d27;
  }
  #flogo{
      width: 10em;
      height: 3.5em;
      margin-left: 8em;
  }
.fflist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
  .fcopy{
      text-align: center;
  }
}
.plogo{
  width: 3em;
  height: 3em;
  animation: bubble 5s linear infinite;
}
.imglogo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #131d27;
  
}
@keyframes bubble{
  0%{
      transform: translateY(0);
      opacity: 1;
  }
  100%{
      transform: translateY(-80vh);
  }
}
.plogo:nth-child(1){
  animation-delay: 1s;
}
.plogo:nth-child(2){
  animation-delay: 3s;
}
.plogo:nth-child(3){
  animation-delay: 2s;
}
.plogo:nth-child(4){
  animation-delay: 4s;
}
.plogo:nth-child(5){
  animation-delay: 6s;
}
.plogo:nth-child(6){
  animation-delay: 5s;
}
.line{
  width: 2em;
  height: .4em;
  background-color:white;
  margin: .2em;
}
.line1{
  width: 2em;
  height: .4em;
  background-color:white;
  margin: .2em;
  transform: rotate(45deg);
}
.line2{
  width: 2em;
  height: .4em;
  background-color:white;
  margin: .2em;
  margin-top: -.5em;
  transform: rotate(-45deg);

}
.cross{
  position: absolute;
  right: 5%;
  top: 15px;
  display: block;
  visibility: hidden;
}
#dev{
  
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
}
.burger{
  display: none;
}

@media only screen and (max-width:1200px){
  #ul{
      display: none;

      background-size: cover;

      width: 100%;
     

  }
  #ul li{

margin-top: 4em;

  }
  .logoul{
      display: flex;

   
      align-items: center;
      width: 100%;
    
  
  }
   
  


.list{
   margin:0px ;
}

  .burger{
      
      position: absolute;
      right: 5%;
      top: 15px;
      display: block;
  }
 
}

#development{
    cursor: pointer;
}
.dc{
  
    background-repeat: no-repeat;
    background-color: #131d27;
    background-size: cover;
    
}

#copyright{
    text-align: center;
    background-color: #131d27;
    color: white;
}
#dlogo{
  animation: rotat 1s linear 1;
}

